<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Symple Gym System - Página Inicial</title>
        <link href="/css/styles-template.css" rel="stylesheet" />
        <link href="/css/index.css" rel="stylesheet" />
        <link href="/css/styles-template.css" rel="stylesheet" />
        <script src="/js/font-awesome.min.js"></script>
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        </nav>

        <h1 class="text-center">Simple Gym System</h1>
        <br>
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <a th:href="@{/login}" class=" card btn bg-dark text-white mb-4" style="margin: 1%;">
                    <img src="/images/login-aluno.png" class="card-img-top" alt="login-aluno" style="width: 20%; margin: 4% auto;">
                    <h2 class="card-title">Sou um aluno</h2>
                </a>
                <a th:href="@{/login}" class=" card btn bg-dark text-white mb-4" style="margin: 1%;">
                    <img src="/images/login-funcionario.png" class="card-img-top" alt="login-funcionario" style="width: 20%; margin: 4% auto;">
                    <h2 class="card-title">Sou um funcionário</h2>
                </a>
            </div>
        </div>
   
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scripts-template.js"></script>
    </body>
</html>
